body{
  font-size: 16px;
  color: #e0d982;
  background-color: #080700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    color: #8a7e00;}
h3{
      color: #8a7e00;
}

#header-nav {
  background-color: #e0d982;
  border-radius: 0;
  border: 0;
  min-height: 70px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #8a7f00;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus,.navbar-brand a:link,.navbar-brand a:visited {
  text-decoration: none;
}

#nav-list a {
  color: #80bad1;
  font-weight: bold;
}

#nav-list a:hover {
  background: rgb(236, 236, 209);
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #80bad1;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#page-title {
  font-weight: bold;
  margin-bottom: 30px;
}

#main-text {
  padding-left: 20px;
  padding-right: 20px;
}

.text-background {
  height: 3000px;
  padding: 20px 40px 20px 40px;
  background-color: rgb(236, 236, 209);
  overflow: hidden;
}

h3 {
  font-weight: bold;
}