body{
  font-size: 16px;
  color: #e0d982;
  background-color: #080700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    color: #8a7e00;
    overflow: hidden;
  }

h3{
      color: #8a7e00;
      font-weight: bold;
}


 #main-content {
overflow-wrap:break-word;
}
#menu-tile:hover{
  overflow:auto;
  
}
}

#text-center a{
  color: #8a7e00 !important;
}

#header-nav {
  background-color: #e0d982;
  border-radius: 0;
  border: 0;
  min-height: 70px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background-position: center;
  overflow: hidden;
}

#nav-list a {
  color: #8a7e00;
  font-weight: bold;
  text-align: center;
  margin-left: 250px;
}

#nav-list a:hover {
  background: #080700;
}

#page-title {
  font-weight: bold;
  margin-bottom: 30px;
}

#main-text {
  padding-left: 20px;
  padding-right: 20px;
}

#menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

.col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}




/*
    Modified version of Animated hamburger source from:
    http://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
*/

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.7s;

}
.navbar-toggle:hover{
  background-color: white;
}

.navbar-toggle .top-bar {
    transform: translateX(3px) rotate(135deg);
    transform-origin: 40% 200%;
}

.navbar-toggle .mid-bar {
    opacity: 0;
}

.navbar-toggle .bot-bar {
    transform: translateX(3px) rotate(-135deg);
    transform-origin: 40% -80%;
}

.navbar-toggle .collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
    transform: rotate(0);
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #080700;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.text-background {
  height: 3000px;
  padding: 20px 40px 20px 40px;
  background-color: rgb(236, 236, 209);
  overflow: hidden;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #8a7f00;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: .75;
}
.navbar-toggle {
  align-content: right;
  margin-left: 230px;
  position: sticky;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus,.navbar-brand a:link,.navbar-brand a:visited {
  text-decoration: none;
}

