body {
  font-size: 1.2em;
  margin-left: 50px;
  color: #383838;
  padding-left: 50px;
}
li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color:	#E8E8E8;
  color: #696969;
}
.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}
