<h1 class="text-center ng-scope">Signup for our newstler that will never come!</h1>
<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3"></div>

   <div class="col-xs-10 col-sm-8 col-md-6">


<fieldset>
    <legend>Registration</legend>
    <form name='regForm' class="form-vertical" novalidate>
<div class="form-group">
      <input type="text" name="firstname" class="form-control" placeholder="First Name"
        ng-model="reg.user.firstname"
        required
        minlength="2"
        ng-maxlength="10">

        <span
          ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
          firstname must be at least 2 characters long
        </span>

        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
          firstname must not be longer than 10 characters
        </span>
        <br>
</div>
<div class="form-group">
        <input type="text" name="lastname" class="form-control" placeholder="Last Name"
        ng-model="reg.user.lastname"
        required
        minlength="2"
        ng-maxlength="10">
 
        <span
          ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          lastname must be at least 2 characters long
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
          lastname must not be longer than 10 characters
        </span>
        <br>
</div>
<div class="form-group">
      <input type="email" name="email"  class="form-control" placeholder="Email"
        ng-model="reg.user.email"
        required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>
</div>
<div class="form-group">
      <input type="text" name="phone" class="form-control" placeholder="Phone ###-###-####"
        ng-model="reg.user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>
</div>
<div class="form-group">
        <input name="dish" class="form-control" style="text-transform:uppercase" placeholder="favorite dish"
        ng-model="reg.user.dish"
        required my-directive >

        <span
          ng-if="(regForm.dish.$invalid || regForm.dish.$error.required) && regForm.dish.$touched">
          No such menu number exists
        </span>

        <br>
</div>

      <button
        ng-disabled="regForm.$invalid"
        ng-click="reg.submit()">Submit</button>

        <div style="margin-top: 10px;">
          Form valid? {{ regForm.$valid }}
        </div>
    </form>
  </fieldset>

</div>

</div>

  <div id="info" ng-if="reg.completed">
    Your information has been saved
  </div>

